{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>WalkerShop | Forgotten Password</title>
{% endblock %}

{% block content %}
  <section
      class="mt-0 overflow-hidden  vh-100 d-flex justify-content-center align-items-center p-4">
    <!-- Page Content Goes Here -->
    <!-- Login Form-->
    <div class="col col-md-8 col-lg-6 col-xxl-5">
      <!-- Logo-->
      <a class="navbar-brand fw-bold fs-3 flex-shrink-0 order-0 align-self-center justify-content-center d-flex mx-0 px-0"
         href="">
        <img src="{% static 'svgs/logo-large-black.svg' %}" alt="WalkerShop">
      </a>
      <!-- / Logo-->
      <div class="shadow-xl p-4 p-lg-5 bg-white">
        <h1 class="text-center fs-2 mb-5 fw-bold">Forgotten Password</h1>
        <p class="text-muted text-center">Please enter your email below, and we will send you a secure link to reset your
          password.</p>
        <form action="{% url 'forgot' %}" method="post">
          {% csrf_token %}
          {% if form.non_field_errors %}
            <li>{{ form.non_field_errors }}</li>
          {% endif %}
          {% for field in form %}

            {% for error in form.errors %}
            	<p>{{ error }}</p>
            {% endfor %}

            <label for="{{ field.id_for_label }}" class="form-label">
              {{ field.label }}
            </label>
            {{ field }}

          {% endfor %}
          <button type="submit" class="btn btn-dark d-block w-100 my-4">Send Reset Link</button>

        </form>
      </div>

    </div>
    <!-- / Login Form-->
    <!-- /Page Content -->
  </section>
  <!-- / Main Section-->
{% endblock %}