{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>WalkerShop | Sign Up</title>
{% endblock %}

{% block content %}
  <!-- Main Section-->
  <section
      class="mt-0  d-flex justify-content-center align-items-center p-4">
    <!-- Page Content Goes Here -->

    <!-- Login Form-->
    <div class="col col-md-8 col-lg-6 col-xxl-5">

      <div class="shadow-xl p-4 p-lg-2 bg-white">
        <h1 class="text-center mb-5 fs-2 fw-bold">Create Account</h1>
        <a href="#" class="btn btn-dark d-block mb-3">
          <img width="32" src="{% static 'svgs/github-mark-white.svg' %}" alt="">
          Login with GitHub
        </a>
        <span class="text-muted text-center d-block fw-bolder my-2">OR</span>

        <form action="{{ request.path }}" method="post">
          {% csrf_token %}
          {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
              <div class="alert-danger py-2 my-2 text-center">
                {{ error }}
              </div>
            {% endfor %}
          {% endif %}
          {% for field in form %}
            <div class="form-group">
              {% for error in field.errors %}
                <div class="alert-danger py-2 my-2 text-center">
                    {{ error }}
                </div>
              {% endfor %}
              <label for="{{ field.id_for_label }}" class={{ field.field.widget.attrs.label_class }}>
                {{ field.label }}
              </label>
              {{ field }}
            </div>
          {% endfor %}

          <button type="submit" class="btn btn-dark d-block w-100 my-4">Sign Up</button>
        </form>
        <p class="d-block text-center text-muted">
          Already registered? <a class="text-muted" href="{% url 'login' %}">Login here.</a>
        </p>
        <p class="d-block text-center text-muted">
          Forgot password? <a class="text-muted" href="{% url 'reset' %}">Reset password.</a>
        </p>
      </div>

    </div>
    <!-- / Login Form-->

    <!-- /Page Content -->
  </section>
  <!-- / Main Section-->
{% endblock %}
